
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(195, 4, 4);
    padding: 0 10px;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.favoritos {
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: 0.3s ease;
}

.favoritos:hover {
    background-color: brown;
    border-color: brown;
}

@media (min-width: 1024px) {
    header {
        padding: 35px;
    }
}