
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(90, 9, 145);
    padding: 0 10px;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.favoritos {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: 0.3s ease;
}

.favoritos svg {
    fill: #fff;
    height: 16px;
    margin: 0;
}

.favoritos:hover {
    background-color: rgb(42, 125, 226);
    border-color: rgb(42, 125, 226);
}

@media (min-width: 1024px) {
    header {
        padding: 35px;
    }
}