
header {
    height: 80px;
    background-color: rgb(90, 9, 145);
    padding: 20px 20px 0 20px;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 110px;
    margin-top: 16px;
}

.favoritos {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: 0.3s ease;
    font-size: 14px;
}

.favoritos svg {
    fill: #fff;
    height: 12px;
    margin: 0;
}

.favoritos:hover {
    background-color: rgb(42, 125, 226);
    border-color: rgb(42, 125, 226);
}

@media (min-width: 1024px) {
    .header-container{
        width: 960px;
        margin: 0 auto;
    }
}