.filme-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}

.filme-info img {
    height: auto;
}

.filme-info-text {
    padding: 0 20px;
}

.filme-info-text h1 {
    padding: 40px 0 20px 0;
    font-size: 20px;
}

.filme-info-text p {
    text-align: justify;
    margin-bottom: 30px;
}

.filme-info button {
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
    outline: none;
    padding: 6px 20px;
    transition: all 0.5s;
    background: none;
    color: #fff;
    border: 1px solid #fff;
}

.filme-info button a {
    text-decoration: none;
    color: brown;
}

.filme-info button:hover {
    background-color: #fff;
    color: #000;
}