
#meus-filmes{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 120px 0 150px 0;
}

#meus-filmes p {
  padding: 40px 0;
  width: 260px;
  text-align: center;
}

#meus-filmes p a {
  color: rgb(197, 8, 8);
  text-decoration: none;
}

#meus-filmes p a:hover{
  text-decoration: underline;
}

h1 {
  margin-bottom: 40px;
}

ul{
  padding: 40px 0;
  width: 320px;
}

ul li{
  padding: 16px 3px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #515151;
  border-bottom: 1px solid #515151;
}

ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

ul li a:hover {
  color: rgb(42, 125, 226);
}

button{
  margin-left: 10px;
  background: none;
  border: 0;
  cursor: pointer;
}

ul li div a{
  text-decoration: none;
  color: brown;
}

svg.delete-filme {
  fill: #fff;
  height: 16px;
  transition: 0.3s;
}

svg.delete-filme:hover {
  fill:rgb(197, 8, 8);
}

@media (min-width: 1024px) {
  ul {
    width: 640px;
  }
  ul li {
    padding: 20px 5px;
  }
}