.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 40px 0;
}

.lista-filmes {
    margin: 15px;
}

.lista-filmes article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 0;
    padding-bottom: 5px;
    width: 320px;
}

article img {
    width: 100%;
    filter: grayscale(40%);
    transition: 0.5s;
}

article img:hover {
    filter: grayscale(0);
}

.lista-filmes a {
    text-decoration: none;
}

.lista-filmes a h3 {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    transition: 0.4s ease;
}

.lista-filmes a h3:hover {
    margin-left: 8px;
    text-decoration: underline;
}

img.loading-image {
    filter: grayscale(100%);
    margin: 200px 0;
}


@media (min-width: 1024px) {
    .container {
        width: 960px;
    }
    .lista-filmes {
        width: 960px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lista-filmes article {
        margin: 40px 0;
        padding: 0 5px;
    }
}